
@{
    ViewBag.Title = "LandingView";
}

<!DOCTYPE html>
<html>

<head>
    <title>My awesome website</title>
    <link rel="stylesheet" href="~/Content/landing.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <script src="jquery-3.4.0.min.js"></script>
</head>

<body>
    <div class="logo">
        <img src="~/Content/logo.png" alt="Italian Trulli">
        <h2 id="h2">Giraffile</h2>
        <a href=""
    </div>

    <section class="hero">
        <div style="text-align: center;  padding-right: 60%" class="hero-inner">
            <h1 style="width: 70%; margin: 0 auto; text-align: left" id="middleText">Managing your digital archive with ease</h1>
            <h2 style="width: 70%; margin: 0 auto; text-align: left" id="middleText">Giraffes don't care about papers, why should you?</h2>
            <div style="width:70%; margin: 0 auto; text-align: left; margin-top:20px;" id="buttons">
                <a style="width: 20%; height: 15px; margin: 0; margin-right: 25px;" id="buttonLogin" href="~/Account/Login" class="btn">Login</a>
                <a style="width: 20%; height: 15px; margin: 0;" id="buttonRegister" href="https://example.com/" class="btn">Register</a>
            </div>
        </div>
    </section>
</body>

</html>

